<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logservlet</servlet-name>
        <servlet-class>Controller.Logservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adduser</servlet-name>
        <servlet-class>Controller.Adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addappointment</servlet-name>
        <servlet-class>Controller.Addappointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addprescription</servlet-name>
        <servlet-class>Controller.Addprescription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logservlet</servlet-name>
        <url-pattern>/Logservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adduser</servlet-name>
        <url-pattern>/Adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addappointment</servlet-name>
        <url-pattern>/Addappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addprescription</servlet-name>
        <url-pattern>/Addprescription</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
